<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	<!-- mysql -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="url"  value="jdbc:mysql://localhost/springbook" />
		<property name="username"  value="spring" />
		<property name="password"  value="book" />
	</bean>
	<!-- oracle -->
	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url"  value="jdbc:oracle:thin:@127.0.0.1:1521:orcl" />
		<property name="username"  value="spring" />
		<property name="password"  value="book" />
	</bean> -->
	
	<bean id="mailSender" class="springbook.user.service.DummyMailSender" />
	
	<bean id="userDao" class="springbook.user.dao.UserDaoJdbc">
		<property name="dataSource" ref="dataSource" />
		<!-- old -->
		<!-- <property name="sqlMap">
			<map>
				<entry key="add" value="INSERT INTO USERS (id, name, password, lv, login, recommend) VALUES(?, ?, ?, ?, ?, ?)" />
				<entry key="get" value="SELECT * FROM USERS WHERE id = ?" />
				<entry key="getAll" value="SELECT * FROM USERS ORDER BY id" />
				<entry key="deleteAll" value="DELETE FROM USERS" />
				<entry key="getCount" value="SELECT COUNT(*) FROM USERS" />
				<entry key="update" value="UPDATE USERS SET name = ?, password = ?, lv = ?, login = ?, recommend = ? WHERE id = ?" />
			</map>
		</property> -->
		<!-- new -->
		<property name="sqlService" ref="sqlService" />
	</bean>
	
	<!-- new -->
	<bean id="sqlService" class="springbook.user.sqlservice.SimpleSqlService">
		<property name="sqlMap">
			<map>
				<entry key="userAdd" value="INSERT INTO USERS (id, name, password, lv, login, recommend) VALUES(?, ?, ?, ?, ?, ?)" />
				<entry key="userGet" value="SELECT * FROM USERS WHERE id = ?" />
				<entry key="userGetAll" value="SELECT * FROM USERS ORDER BY id" />
				<entry key="userDeleteAll" value="DELETE FROM USERS" />
				<entry key="userGetCount" value="SELECT COUNT(*) FROM USERS" />
				<entry key="userUpdate" value="UPDATE USERS SET name = ?, password = ?, lv = ?, login = ?, recommend = ? WHERE id = ?" />
			</map>
		</property>
	</bean>
	
	<bean id="userService" class="springbook.user.service.UserServiceImpl">
		<property name="userDao" ref="userDao" />
		<property name="mailSender" ref="mailSender" />
	</bean>
	
	<bean id="testUserService" class="springbook.user.service.UserServiceTest$TestUserService" parent="userService" />
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<tx:annotation-driven />
	
</beans>



















